node_modules/
output/
*.css
*.map
*.pdf

# All unnecessary files of chromium

buildScripts/chromium/AutofillStates/
buildScripts/chromium/BrowserMetrics/
buildScripts/chromium/Default/
buildScripts/chromium/GraphiteDawnCache/
buildScripts/chromium/GrShaderCache/
buildScripts/chromium/LocalState/
buildScripts/chromium/ShaderCache/
buildScripts/chromium/Local\ State
buildScripts/chromium/Variations
buildScripts/chromium/Safe\ Browsing
buildScripts/chromium/segmentation_platform
buildScripts/chromium/WidevineCdm
buildScripts/chromium/Last\ Version