@use "sass:math"
$pagewidth: 148mm
$pageheight: 210mm
$font: "Times New Roman", Times, serif
$font-size: 3.8mm
$line-height: 4.05mm
$word-spacing-factor: 0.65
$word-spacing-unit: 1mm
$pagemargin: 15mm
$pagemargin-top: 12mm
$pagemargin-bottom: 20mm
$pagemargin-ext: $pagemargin
$text-border: 0.15mm

body
	position: relative

	width: $pagewidth
	height: $pageheight

	margin: 0

	display: flex
	flex-direction: column

	font-family: $font
	font-size: $font-size
	line-height: $line-height
	border: 1px dashed black

	&.landscape
		width: $pageheight
		height: $pagewidth
		div.textarea
			&.odd
				margin-top: $pagemargin-ext
			&.even
				margin-bottom: $pagemargin-ext

	&:not(.landscape)
		div.textarea
			&.odd
				margin-left: $pagemargin-ext
			&.even
				margin-right: $pagemargin-ext

div.textarea
	position: relative
	flex-grow: 1
	margin: $pagemargin-top $pagemargin $pagemargin-bottom $pagemargin
	background: lightgrey
h1
	font-size: 2.8em
h2
	font-size: 1.8em
h3
	text-align: center
	margin: 0
	font-size: 1.3em
	font-weight: normal
h4
	text-align: center
	margin: 0
	font-size: 1.2em
	font-weight: bold

h5
	text-align: center
	margin: 0
	font-size: 1.17em
	font-weight: normal

h6
	text-align: center
	font-weight: bold
	margin: 0
	font-size: 1em

.start
	text-align: start

.end
	text-align: end

.center
	text-align: center

@for $i from 0 through 16
	$add: $word-spacing-factor + $i * 0.05
	.ws-#{$add * 1000µm}
		word-spacing: $add * $word-spacing-unit

p
	@extend .ws-750µm
	text-align: justify
	hyphens: auto
	text-indent: 1em
	font-size: 1em
	margin: 0
	padding: 0
	&.justify-last
		text-align-last: justify
	&.no-indent-first
		text-indent: 0
	&.footnote
		font-size: 0.8em

hr
	border: none
	width: 15mm
	margin: 0
	height: 0.05mm
	background-color: #000

.page-number
	position: absolute
	bottom: 0
	width: 100%
	font-size: 1.2em
	&.odd
		text-align: end
	&.even
		text-align: start

.spacing
	letter-spacing: 1mm

span
	&.initial-letter
		display: inline-flex
		float: left
		height: 10mm
		width: 10mm
		font-size: 2.3em

div.page-link-area
	display: flex
	justify-content: space-between
	width: 100%

	position: absolute
	bottom: 0

	font-size: 3em
	> a
		cursor: pointer

div.picture-placeholder
	position: relative
	width: 50%

.force-wrap
	flex-basis: 100%
	width: 0

div.margin
	margin: math.div($pagemargin, 2)
	visibility: hidden

img
	background-color: lightgray

@for $i from 1 through 6
	.flex-grow-#{$i}
		flex-grow: $i
		flex-basis: 0

div
	&.poem
		display: flex
		justify-content: center
		> p
			display: inline-flex

.margin-bottom
	margin-bottom: 2mm

.text-border,.text-border-webkit
	color: white

.text-border
	text-shadow: -1*$text-border 0 black, 0 $text-border black, $text-border 0 black, 0 -1*$text-border black

.text-border-webkit
	-webkit-text-stroke: $text-border black

@media print
	body
		border: 0
	div.textarea
		background: none
	div.page-link-area
		display: none

@page
	size: A5
	margin: 0
