@use "sass:math"
$pagewidth: 148mm
$pageheight: 210mm
$font: "Times New Roman", Times, serif
$font-size: 4.00mm
$line-height: 4.4mm
$pagemargin: 12mm
$pagemargin-ext: $pagemargin * 1.34

body
	position: relative

	width: $pagewidth
	height: $pageheight

	margin: 0

	display: flex
	flex-direction: column

	font-family: $font
	font-size: $font-size

	&.landscape
		width: $pageheight
		height: $pagewidth
		div.textarea
			&.odd
				margin-top: $pagemargin-ext
			&.even
				margin-bottom: $pagemargin-ext

	&:not(.landscape)
		div.textarea
			&.margin-top-auto
				margin-top: auto
			&.odd
				margin-left: $pagemargin-ext
			&.even
				margin-right: $pagemargin-ext

div.textarea
	margin: $pagemargin $pagemargin $pagemargin $pagemargin
	line-height: $line-height

h1
	font-size: 2.8em

h2
	font-size: 1.8em

h3
	text-align: center
	margin: 2mm 0 2mm 0
	font-size: 1.2em
	font-weight: bold

h4
	text-align: center
	margin: 0
	font-size: 1.17em
	font-weight: normal

h5
	text-align: center
	font-weight: bold
	margin: 2mm 0 0 0
	font-size: 1em
	&.no-margin-top
		margin-top: 0

.start
	text-align: start

.end
	text-align: end

.center
	text-align: center

p
	text-align: justify
	hyphens: auto
	text-indent: 1em
	font-size: 1em
	margin: 0
	padding: 0
	&.justify-last
		text-align-last: justify
	&.no-indent-first
		text-indent: 0
	&.footnote
		font-size: 0.8em

.page-number
	margin-top: 1.5mm
	font-size: 1.2em
	&.odd
		text-align: end
	&.even
		text-align: start

span
	&.spacing
		letter-spacing: 1mm
	&.initial-letter
		display: inline-flex
		float: left
		height: 10mm
		width: 10mm
		font-size: 2.3em

div.page-link-area
	display: flex
	justify-content: space-between
	width: 100%

	position: absolute
	bottom: 0

	font-size: 3em
	> a
		cursor: pointer

@media print
	div.page-link-area
		display: none

div.picture-placeholder
	position: relative
	width: 50%

.force-wrap
	flex-basis: 100%
	width: 0

div.margin
	margin: math.div($pagemargin, 2)
	visibility: hidden

img
	background-color: lightgray
